@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";


@theme {
   /* --color-*: initial; 모든 컬러 삭제 */
  --color-min-500: #46bba5;
  --text-10xl: 10rem;

  --color-primary: #46bba5;

  --color-secondary-50: #f0f9f4;
  --color-secondary-100: #d9f2e8;
  --color-secondary-200: #b3e6d1;
  --color-secondary-300: #8ce0bb;
  --color-secondary-400: #66d3a6;
  --color-secondary-500: #46bba5;
  --color-secondary-600: #3da493;
  --color-secondary-700: #48fd00;
  --color-secondary-800: #ffe700;
  --color-secondary-900: #ff8600;

  --color-primary2: oklch(0.628 0.258 29.234);

}

:root {
  --bigger-text: 2rem;
}
.mint {
  background-color: var(--color-min-500);
  font-size: var(--bigger-text);
}

/*@theme {*/
/*  --font-paci: "Pacifico", "sans-serif";*/
/*}*/

.font-paci {
  font-family: "Pacifico", "sans-serif";
}
